<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itcast.springboot.mapper.EmployeeMapper">

    <!--public Employee getEmpById(Integer id);-->
    <select id="getEmpById" resultType="com.itcast.springboot.com.hss.bean.Employee">
        select * from employee where id=#{id}
    </select>
    <!--public void insertEmp(Employee employee);-->
    <insert id="insertEmp">
        insert into employee(lastName,email,gender,d_id) values (#{lastName},#{email},#{gender},#{dId})
    </insert>
</mapper>